body {
	background-color: #82837E;

}

div {
	
}
.horz {
	height: 200px;
	width: auto;
	margin: 1px auto;
}

.vert {
	height: auto;
	width: 200px;
	margin: 1px auto;
}


.m-item {
	height: 390px;
	width: 490px;
	overflow:hidden;
	position:relative;
	display:none;
}