html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}




#contact_article {
	height: 510px; width: 80%;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}



/* Form Area */
#name_contact {
    background-color: #82837E;
    text-align: center;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
    border: 0;
    border-radius:5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .75em;
    color: orange;
    font-weight:bold;
    
}

#message_box { 
    background-color: #82837E;
    text-align: center;
    color: #979797;
    height: 68px;
    padding-left:10px;
    width: 191px;
    border: 0;
    border-radius:5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .75em;
    color: orange;
    font-weight:bold;    
}

textarea {
    margin: 1px 0px 12px 0px;
}

input[type=button], input[type=text] {
    border: 0;
    border-radius:5px;
    font-family: Tahoma, Geneva, sans-serif;
}

#info_area {
    position: relative;
    left: 420px;
    top: -78px;
    padding: 0px;
    margin: 0px;

}

#phone {
    position: relative;
    left: 20px;
    top: 134px;
    padding: 0px;
    margin: 0px;
}

.circles {
    height: 80px;
    width: auto;
    float: right;

}

#facebook {
    position: relative;
    right: 120px;
    top: -350px;
    padding: 0px;
    margin: 0px;
}

#linkedin {
    position: relative;
    right: 47px;
    top: -250px;
    padding: 0px;
    margin: 0px;
}

.info_text {
    font-family: Tahoma, Geneva, sans-serif;
}

.bold_text {
    font-size: 2em;
    margin: 0px 0px 10px 0px;

}

.orange_text {
   color: orange;
   margin: 2px 0px 12px 0px;
}