

#design_article {
	height: 1040px; width: 80%;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

.design_boxes {
	height: 280px;
	width: 200px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	margin: 8px;

}

.clear_top {
	margin: 40px 6px 6px 10px;
}

.clear_middle{
	margin: 6px 6px 6px 228px;
}

.clear_bottom {
	clear: left;
	margin: 6px 6px 6px 228px;
}

.graphic_designs {
	height: 100px;
	width: auto;
	margin: 40px auto  0px auto;
}