* {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Styles for IE 8 and below - fixed layout */

/* Base Styles
------------------------------- */
body {
	background-color: #82837E;
}


/* Logo - Navigation */ /* White Bar */
header { 
	
}

#logo {
	height: 120px; width: auto;
	margin: 70px 0px 0px 55px;
	float: left;
}


/* Baking up design... */
#head_text {
	font-size: 16px;
	font-family: 'Paprika', cursive;
	padding: 10px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	background-color: white;
	height: 60px;
	width: 960px;
	margin: 0px auto 0px auto;

}


/* Header Tag */
a {
	text-decoration: none;
}

ul {
    list-style-type: none;    
}

.navbuttons {
	float: right;
	font-size: 16px;
	color: #f17022;
	font-family: 'ariel', sans-serif;
	margin: 1px 4px 0px 4px;
	padding: 1px 5px 0px 12px;
	top: -25px;
	right: 30px;
	position: relative;
}


/* Article Tag */
#ie_article {
	height: 640px; width: 980px;
	background: #CCC;
	margin: 0px auto 0px;
	padding: 0;
	top: 300px;
	left: 300px;
	position: relative;
}

h2 {
	font-family: 'ariel', sans-serif;
	font-size: 22px;
	color: orange;
	padding: 0;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 215px;
	width: 195px;	
	background-color: #82837E;
	float: left;
	border-radius: 300px;
	font-color: #333;
	font-family: "ariel", sans-serif;
	padding: 0;
}

#topleft_box { /* Photo */

	margin: 80px 5px 5px 90px;
	padding: 0;		
}

#topright_box { /* Design */

	margin: 63px 5px 5px 50px;
	padding: 0;	
}

#bttmleft_box { /* About */

	margin: 50px 5px 5px 290px;
	padding: 0;	
}

#bttmright_box { /* Contact */

	margin: 50px 5px 5px 50px;
	padding: 0;	
}


/* Text in Grey Photoboxes */
.topleft_text {
	font size: 1.5em;
	text-align: right;
	padding: 12px 25px 5px 5px;
}

.topright_text {
	font size: 1.5em;
	text-align: left;
	padding: 13px 5px 5px 15px;
}

.bttmleft_text {
	font size: 20px;
	text-align: right;
	padding: 12px 25px 5px 5px;
}

.bttmright_text {
	font size: 1.50px;
	text-align: left;
	padding: 13px 5px 5px 15px;
}

/* Text in Grey boxes, Positions Style Rules */
#graphic_design {
	margin: 1px 0px 0px 0px;
}

#architectural {
	margin: 1px 0px 0px 0px;
}

#about {
	margin: 1px 0px 0px 0px;
}

#contact {
	margin: 1px 0px 0px 0px;
}


/* H2 Headers in Grey boxes */
#logo_delight {
	margin: 10px 0px 0px 12px;  
}

#photo_meringue {
	margin: .5em 0em 0em 1em;  
}

#boutme_cobbler {
	margin: .5em 0em 0em 1em;  
}

#plain_contact {
	margin: .5em 0em 0em .5em;  
}



/* Article: Cupcakes */
.cupcake_img {
	width: 160px; height: auto;
	float: right;
}

#photo_cupake {
	margin: 0em;
	position: absolute;
	left: 180px; 
	top: 190px;
}

#design_cupcake {
	margin: 0em;
	position: absolute;
	left: 655px; 
	top: 165px;
}

#about_cupcake {
	margin: 0em;
	position: absolute;
	left: 205px; 
	top: 440px;
}

#contact_cupcake {
	margin: 0em;
	position: absolute;
	left: 665px; 
	top: 440px;
}
 /* End Artical */


/*Footer*/
#ie_8styles {
	font-family: Georgia, serif;
	font-size: 16px;
	color: white;
	padding: 0em;
	margin: 20px auto;
}
