html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


#photo_article {
	height: 450px; width: 1065px;
	background: #E0E0E0;
	margin: 0px auto;
	padding: 0;
	
}


.photo_boxes {
	height: 200px;
	width: 285px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	font-size: 1.2em;
	font-family: Georgia, serif;
	text-align: center;
	
}


#left_box {
	
	margin: 3em .5em 0em 5em;
	padding: 0;
		
}

#right_box {
	
	margin: 3em .5em 0em .5em;
	padding: 0;
	
}

#left_arch {
	text-decoration: none;
	font-family: Georgia, serif;
	font size: 1.5em;
	color: black;
}




@media only screen and (min-width: 320px) and (max-width: 479px) {

#photo_article {
	height: 460px; 
	width: 400px;
	background: #E0E0E0;
	margin: 0px auto;
	padding: 0;
	
}


.photo_boxes {
	height: 200px;
	width: 285px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	font-size: 1.2em;
	font-family: Georgia, serif;
	text-align: center;
	
}


#left_box {
	
	margin: 3em .5em 0em 5em;
	padding: 0;
		
}

#right_box {
	
	margin: 3em .5em 0em .5em;
	padding: 0;
	
}

#left_arch {
	text-decoration: none;
	font-family: Georgia, serif;
	font size: 1.5em;
	color: black;
}
}




@media only screen and (min-width: 480px) and (max-width: 599px) {
#photo_article {
	height: 460px; 
	width: 480px;
	background: #E0E0E0;
	margin: 0px auto;
	padding: 0;
	
}


.photo_boxes {
	height: 200px;
	width: 285px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	font-size: 1.2em;
	font-family: Georgia, serif;
	text-align: center;
	
}


#left_box {
	
	margin: 3em .5em 0em 5em;
	padding: 0;
		
}

#right_box {
	
	margin: 3em .5em 0em .5em;
	padding: 0;
	
}

#left_arch {
	text-decoration: none;
	font-family: Georgia, serif;
	font size: 1.5em;
	color: black;
}
}




@media only screen and (min-width: 600px) and (max-width: 800px) {
#photo_article {
	height: 460px; 
	width: 600px;
	background: #E0E0E0;
	margin: 0px auto;
	padding: 0;
	
}


.photo_boxes {
	height: 200px;
	width: 285px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	font-size: 1.2em;
	font-family: Georgia, serif;
	text-align: center;
	
}


#left_box {
	
	margin: 3em .5em 0em 5em;
	padding: 0;
		
}

#right_box {
	
	margin: 3em .5em 0em .5em;
	padding: 0;
	
}

#left_arch {
	text-decoration: none;
	font-family: Georgia, serif;
	font size: 1.5em;
	color: black;
}
}




@media only screen and (min-width: 1024px) and (min-width: 768px) {
#photo_article {
	height: 450px; 
	width: 1000px;
	background: #E0E0E0;
	margin: 0px auto;
	padding: 0;
	
}


.photo_boxes {
	height: 200px;
	width: 285px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	color: #333;
	font-size: 1.2em;
	font-family: Georgia, serif;
	text-align: center;
	
}


#left_box {
	
	margin: 3em .5em 0em 5em;
	padding: 0;
		
}

#right_box {
	
	margin: 3em .5em 0em .5em;
	padding: 0;
	
}

#left_arch {
	text-decoration: none;
	font-family: Georgia, serif;
	font size: 1.5em;
	color: black;
}