        html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Base Styles
------------------------------- */
body {
	background-color: #82837E;
}


/* Logo - Navigation */
header { /* White Bar */
	background-color: white;
	height: 105px;
	width: 80%;
	margin: 0em auto 0em auto;	
}

#logo {
	height: 140%; width: auto;
	margin: 6.64em 0em 0 3em;
	float: left;
}


/* Baking up design... */
#head_text {
	font-size: 1.2em;
	font-family: 'Paprika', cursive;
	padding: .5em 0em 0em 0em;
	margin: .5em 0em 0em 0em;
}


/* Header Tag */
a {
	text-decoration: none;
}

ul {
    list-style-type: none;    
}

.navbuttons {
	float: right;
	font-size: 1.1em;
	color: #f17022;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 3em 1em 0em 1em;
}


/* Article Tag */
article {
	height: 640px; width: 80%;
	background: #E0E0E0;
	margin: 0px auto 40px;
	padding: 0;
}

#ie_article {
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 1.5em;
	color: orange;
	padding: 0em 0em 0em 0em;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 37%;
	width: 20%;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;
	font-color: #333;
	font-family: "ariel", sans-serif;
}

#topleft_box { /* Photo */
	
	margin: 5.5em .5em 1em 5em;
	padding: 0;		
}

#topright_box { /* Design */
	
	margin: 5.5em 15em 1em .5em;
	padding: 0;	
}

#bttmleft_box { /* About */
	
	margin: 1em .5em 2em 19em;
	padding: 0;	
}

#bttmright_box { /* Contact */
	
	margin: 1em 15em 2em .5em;
	padding: 0;	
}


/* Text in Grey Photoboxes */
.topleft_text {
	font size: 1.5em;
	text-align: right;
	padding: .35em 1em .35em 0em;
}
	
.topright_text {
	font size: 1.5em;
	text-align: left;
	padding: .35em 0em .35em 1em;
}

.bttmleft_text {
	font size: 1.5em;
	text-align: right;
	padding: .35em 1em .35em 0em;
}

.bttmright_text {
	font size: 1.5em;
	text-align: left;
	padding: .35em 0em .35em 1em;
}

/* Text in Grey boxes, Positions Style Rules */
#graphic_design {
	margin: 1em 0em 0em 0em;
}

#architectural {
	margin: 1em 0em 0em 0em;
}

#about {
	margin: 1em 0em 0em 0em;
}

#contact {
	margin: .5em 0em 0em 0em;
}


/* H2 Headers in Grey boxes */
#logo_delight {
	margin: .5em 0em 0em .5em;  
}

#photo_meringue {
	margin: .5em 0em 0em 1em;  
}

#boutme_cobbler {
	margin: .5em 0em 0em 1em;  
}

#plain_contact {
	margin: .5em 0em 0em .5em;  
}



/* Article: Cupcakes */
.cupcake_img {
	width: 160px; height: auto;
	float: right;
}

#photo_cupake {
	margin: 0em;
	position: absolute;
	left: 355px; 
	top: 250px;
}

#design_cupcake {
	margin: 0em;
	position: absolute;
	left: 755px; 
	top: 225px;
}

#about_cupcake {
	margin: 0em;
	position: absolute;
	left: 355px; 
	top: 500px;
}

#contact_cupcake {
	margin: 0em;
	position: absolute;
	left: 755px; 
	top: 500px;
}
 /* End Artical */


/*Footer*/
.foot_text {
	font-family: Georgia, serif;
	font-size: 1.1em;
	color: white;
	padding: 0em;
	margin: 2em auto 3em auto;
	text-align: center;
}

#ie_footer {
	margin: 0;
	padding: 0;
}
/*End Base Styles */


/* Smart Phones 320 */
@media only screen and (min-width: 320px) and (max-width: 479px) {
header {
	height: 3em;
	width: 100%;
	margin: 0em;
	padding: 0em;
	background: #E0E0E0;
}

#logo {
	height: 200%; width: auto;
	margin: 1em 0em 0em 1em;
	padding: 0em;
	float: left;
}


/* Baking up design... */
#head_text {
	font-size: .8em;
	top: 2em 2em 1em 1em;
	float: left;
	visibility: hidden;
}

.navbuttons {
	font-size: 1.2em;
	margin: 1em .5em 0em .5em;
	visibility: hidden;
}

article {
	height: 460px; width: 100%;
	margin: 0em auto .25em;
}

h2 {
	font-size: 1.2em;
	padding: 0em 0em 0em 0em;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 35%;
	width: 30%;	
	float: left;
	border-radius: 30px;
	font-size: .95em;
	color: white;
}

#topleft_box { /*Photo */
	margin: 0em 0em 1em 1.5em;
	padding: 0em 1em 1em 1em;
	left: 0em; 
	top: -3em;
	position: relative;		
}

#topright_box { /* Design */
	margin: 0em 0em 1em 1em;
	padding: 0em 1em 1em 1em;
	left: 0em; 
	top: -3em;
	position: relative;
}

#bttmleft_box { /*About */
	margin: 0em 0em 0em 1.2em;
	padding: 0em 1em 1em 1em;
	left: 0em; 
	top: -3em;
	position: relative;
}

#bttmright_box { /*Contact */
	margin: 0em 0em 0em 1em;
	padding: 0em 1em 1em 1em;
	left: 0em; 
	top: -3em;
	position: relative;
}

/* Text in Grey boxes */
.topleft_text {
	text-align: right;
	padding: 0em 0em 0em 0em;
	line-height: 1.2em;
}
	
.topright_text {
	text-align: left;
	padding: 0em 0em 0em 0em;
	line-height: 1.2em;
}

.bttmleft_text {
	text-align: right;
	padding: 0em 0em 0em 0em;
	line-height: 1.2em;
}

.bttmright_text {
	text-align: left;
	padding: 0em 0em 0em 0em;
	line-height: 1.2em;
}


/* H2 Headers in Grey boxes */
#logo_delight {
	margin: .6em;  
}

#photo_meringue {
	margin: .6em;  
}
#boutme_cobbler {
	margin: .6em;  
}

#plain_contact {
	margin: .6em;  
}


/* Cupcakes */
.cupcake_img { /* Main Style for Cupcakes */
	width: 4em; 
	height: auto;
	float: right;
}

#photo_cupake {
	margin: 0.5em;
	left: -1em; 
	top: 4.5em;
	position: absolute;
}

#design_cupcake {
	margin: 0em;
	left: 5em; 
	top: 4.5em;
	position: absolute;
}

#about_cupcake {
	margin: 0em;
	left: -.95em; 
	top: 5em;
	position: absolute;
}

#contact_cupcake {
	margin: 0em;
	left: 5em; 
	top: 5em;
	position: absolute;
}

/*Footer*/
.foot_text {
	font-size: .85em;
	padding: 0em;
	margin: 1em;
	height: 1em;
	width: 100%
}
} /* End  Smart Phone Query */


/* Tablets */
@media only screen and (min-width: 480px) and (max-width: 767px) {
header {
	height: 5em;
	width: 90%;
	margin: .5em auto 0em auto;	
}

#logo {
	height: 145%; width: auto;
	margin: 5em 0em 0em 1em;
	float: left;
}


/* Baking up design... */
#head_text {
	font-size: 1.2em;
	top: 2em;
}

.navbuttons {
	font-size: 1.1em;
	margin: 1.8em 1em 0em 1em;
}

article {
	height: 570px; width: 90%;
	margin: 0em auto 2em;
}

h2 {
	font-size: 1.3em;
	padding: 0em 0em 0em 0em;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 40%;
	width: 26%;	
	float: left;
	border-radius: 30px;
}

#topleft_box { /*Photo */
	margin: 2em .5em 1em 3em;
	padding: 0;		
}

#topright_box { /* Design */
	margin: 2em 0em 1em .5em;
	padding: 0;
}

#bttmleft_box { /*About */
	margin: 1em .5em 1em 13em;
	padding: 0;
}

#bttmright_box { /*Contact */
	margin: 1em 0em 2em .5em;
	padding: 0;
}

/* Text in Grey Photoboxes */
.topleft_text {
	font size: 1em;
	text-align: right;
	padding: .35em 1em .35em 0em;
}
	
.topright_text {
	font size: 1.5em;
	text-align: left;
	padding: .35em 0em .35em 1em;
}

.bttmleft_text {
	font size: 1.5em;
	text-align: right;
	padding: .35em 1em .35em 0em;
}

.bttmright_text {
	font size: 1.5em;
	text-align: left;
	padding: .35em 0em .35em 1em;
}


/* Text in Grey boxes, Positions Style Rules */
#graphic_design {
	margin: 1em 0em 0em 0em;
}

#architectural {
	margin: 1em 0em 0em 0em;
}

#about {
	margin: .5em 0em 0em 0em;
}	

#contact {
	margin: .5em 0em 0em 0em;
}


/* H2 Headers in Grey boxes */
#logo_delight {
	margin: .5em 0em 0em .5em;  
}

#photo_meringue {
	margin: .6em 0em 0em 1em;  
}
#boutme_cobbler {
	margin: .5em 0em 0em .5em;  
}

#plain_contact {
	margin: .5em 0em 0em .5em;  
}


/* Cupcakes */
.cupcake_img { /* Main Style for Cupcakes */
	width: 145px; 
	height: auto;
	float: right;
}

#photo_cupake {
	margin: 0.5em;
	left: 11em; 
	top: 10em;
	position: absolute;
}

#design_cupcake {
	margin: 0em;
	left: 34em; 
	top: 10em;
	position: absolute;
}

#about_cupcake {
	margin: 0em;
	left: 11em; 
	top: 27em;
	position: absolute;
}

#contact_cupcake {
	margin: 0em;
	left: 33em; 
	top: 26em;
	position: absolute;
}

/*Footer*/
.foot_text {
	font-size: 1em;
	padding: 0em;
	margin: 0em auto 3em auto;
	text-align: center;
}
} /* End Tablets Query */


/* Standard Monitors */
@media only screen and (min-width: 899px) and (max-width: 1224px) {

header {
	height: 6em;
	width: 90%;
	margin: .5em auto 0em auto;	
}

#logo {
	height: 125%; width: auto;
	margin: 6em 0em 0em 2em;
	float: left;
}


/* Baking up design... */
#head_text {
	font-size: 1.2em;
	top: 2em;
}

.navbuttons {
	font-size: 1.1em;
	margin: 2.5em 1em 0em 1em;
}

article {
	height: 570px; width: 90%;
	margin: 0em auto 2em;
}

h2 {
	font-size: 1.5em;
	padding: 0em 0em 0em 0em;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 42%;
	width: 21%;	
	float: left;
	border-radius: 30px;
}

#topleft_box { /*Photo */
	margin: 2em .5em 1em 6em;
	padding: 0;		
}

#topright_box { /* Design */
	margin: 2em 0em 1em .5em;
	padding: 0;
}

#bttmleft_box { /*About */
	margin: 1em .5em 1em 17em;
	padding: 0;
}

#bttmright_box { /*Contact */
	margin: 1em 0em 2em .5em;
	padding: 0;
}


/* Text in Grey boxes, Positions Style Rules */
#graphic_design {
	margin: 1em 0em 0em 0em;
}

#architectural {
	margin: 1em 0em 0em 0em;
}

#about {
	margin: .5em 0em 0em 0em;
}	

#contact {
	margin: .5em 0em 0em 0em;
}


/* H2 Headers in Grey boxes */
#logo_delight {
	margin: .5em 0em 0em .5em;  
}

#photo_meringue {
	margin: .6em 0em 0em 1em;  
}
#boutme_cobbler {
	margin: .5em 0em 0em .5em;  
}

#plain_contact {
	margin: .5em 0em 0em .5em;  
}


/* Cupcakes */
.cupcake_img { /* Main Style for Cupcakes */
	width: 165px; 
	height: auto;
	float: right;
}

#photo_cupake {
	margin: 0.5em;
	left: 15em; 
	top: 10em;
	position: absolute;
}

#design_cupcake {
	margin: 0em;
	left: 41em; 
	top: 10em;
	position: absolute;
}

#about_cupcake {
	margin: 0em;
	left: 15em; 
	top: 28em;
	position: absolute;
}

#contact_cupcake {
	margin: 0em;
	left: 41em; 
	top: 27em;
	position: absolute;
}

} /* End Query */


