

#design_article {
	height: 105px; 
	width: 1065px;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

.design_boxes {
	height: 280px;
	width: 210px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;

}

#topleft_greyBox {
	margin: 6em .5em 1em 4em;
}

#topright_greyBox{
	margin: 6em .5em 1em 1em;
	clear: right;
}

#bttmleft_greyBox {
	margin: 2em .5em 1em 19.5em;
	clear: left;
}

#bttmrght_greyBox{
	margin: 2em .5em 1em 1em;
	clear: right;
}

.logo_fonts {
	margin: 1em auto;
}

section {
	float: left;
	margin: 0em;
	padding: 2em 1em 1em 12em;
	position: relative;
	top: -8em;
}

#facebook_logo {
	height: 80px;
}

#linkedin_logo {
	height: 80px;
}




@media only screen and (min-width: 320px) and (max-width: 479px) {

#design_article {
	height: 540px; 
	width: 400px;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

.design_boxes {
	height: 160px;
	width: 120px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;

}

#topleft_greyBox {
	margin: 2em .5em 1em 0em;
	position: absolute;
	left: 4em;
}

#topright_greyBox{
	margin: -2.8em .5em 1em 13em;
	clear: right;
}

#bttmleft_greyBox {
	margin: 1em .5em 1em 4em;
	clear: left;
}

#bttmrght_greyBox{
	margin: 1em .5em 1em 1em;
	clear: right;
}

.logo_fonts {
	margin: .5em auto;
	height: 9em;
}

section {
	float: left;
	margin: 0em;
	padding: 2em 1em 1em 8em;
	position: relative;
	top: -1.5em;
}

#facebook_logo {
	height: 50px;
}

#linkedin_logo {
	height: 50px;
}
}


@media only screen and (min-width: 480px) and (max-width: 599px) {

.navbuttons {
	font-size: 1.1em;
	margin: 3em 1em 0em 1em;
	visibility: visible;
}

#design_article {
	height: 620px; 
	width: 480px;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

.design_boxes {
	height: 200px;
	width: 150px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;

}

#topleft_greyBox {
	margin: 3em .5em 1em 0em;
	position: absolute;
	left: 5em;
}

#topright_greyBox{
	margin: 3em .5em 1em 1em;
	position: absolute;
	left: 15em;
}

#bttmleft_greyBox {
	margin: 17em .5em 1em 5em;
	position: absolute;
	left: 0em;
}

#bttmrght_greyBox{
	margin: 17em .5em 1em 1em;
	position: absolute;
	left: 15em;
}

.logo_fonts {
	margin: .25em auto;
	height: 12em;
}

section {
	float: left;
	margin: 0em auto;
	position: absolute;
	top: 35em;
}

#facebook_logo {
	height: 50px;
}

#linkedin_logo {
	height: 50px;
}
}





@media only screen and (min-width: 600px) and (max-width: 800px) {

.navbuttons {
	margin: 2.5em 1em 0em 1em;
}

#design_article {
	height: 650px; 
	width: 580px;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

.design_boxes {
	height: 220px;
	width: 180px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;

}

#topleft_greyBox {
	margin: 5em .5em 1em -4em;
}

#topright_greyBox{
	margin: 5em .5em 1em 1em;
	clear: right;
}

#bttmleft_greyBox {
	margin: 1em .5em 1em 6em;
	clear: left;
}

#bttmrght_greyBox{
	margin: 1em .5em 1em 1em;
	clear: right;
}
.logo_fonts {
	margin: .5em auto;
	height: 13em;
}

section {
	float: right;
	margin: 0em;
	padding: 2em 1em 1em 12em;
	position: relative;
	top: -8em;
}

#facebook_logo {
	height: 60px;
}

#linkedin_logo {
	height: 60px;
}
}





@media only screen and (min-width: 1024px) and (min-width: 768px) {
#design_article {
	height: 760px; 
	width: 1000px;
	background: #E0E0E0;
	margin: 0px auto 0px;
	padding: 0;
}

/* Baking up design... */
#head_text {
	font-size: 2.5em;
	font-family: 'Paprika', cursive;
	padding: 0em 0em 0em 0em;
	margin: .5em 0em 0em 0em;
}

.design_boxes {
	height: 280px;
	width: 210px;	
	background-color: #82837E;
	float: left;
	border-radius: 30px;

}

#topleft_greyBox {
	margin: 6em .5em 1em 4em;
}

#topright_greyBox{
	margin: 6em .5em 1em 1em;
	clear: right;
}

#bttmleft_greyBox {
	margin: 2em .5em 1em 18.5em;
	clear: left;
}

#bttmrght_greyBox{
	margin: 2em .5em 1em 1em;
	clear: right;
}

.logo_fonts {
	margin: 1em auto;
}

section {
	float: left;
	margin: 0em;
	padding: 2em 1em 1em 12em;
	position: relative;
	top: -27em;
	left: 43em;
}

#facebook_logo {
	height: 80px;
}

#linkedin_logo {
	height: 80px;
}
}