* {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Styles for IE 9 and below - fixed layout */

/* Base Styles
------------------------------- */
body {
	background-color: #82837E;
}


/* Logo - Navigation */ /* White Bar */
.header_div { 
	background-color: white;
	height: 105px;
	width: 1065px;
	margin: 0em auto 0em auto;	
}

#logo {
	height: 120px; 
	width: auto;
	margin: 105px 0px 0px 55px;
	float: left;
	position: absolute;
	z-index: 1000;
}


/* Baking up design... */
#head_text {
	font-size: 16px;
	font-family: 'Paprika', cursive;
	padding: 2px 0px 0px 0px;
	margin: 0px auto 0px auto;
	background-color: white;
	height: 60px;
	width: 960px;
}


/* Header Tag */
a {
	text-decoration: none;
}

ul {
    list-style-type: none;    
}

.navbuttons {
	float: right;
	font-size: 16px;
	color: #f17022;
	font-family: 'ariel', sans-serif;
	margin: 5px;
	padding: 5px;
	top: -65px;
	right: 160px;
	position: relative;
}


/* Article Tag */
.article_div {
	height: 640px; 
	width: 1065px;
	background: #CCC;
	margin: 0px auto;
	padding: 0;
	position: absolute;
	top: 105px;
	left: 140px;
}

h2 {
	font-family: 'ariel', sans-serif;
	font-size: 22px;
	color: orange;
	padding: 0;
}


/* Article: div grey boxes */
.cupcake_boxes { /* General Style for all boxes */
	height: 235px;
	width: 215px;	
	background-color: #82837E;
	float: left;
	font-color: #333;
	font-family: "ariel", sans-serif;
	padding: 0;
}

#topleft_box { /* Photo */

	margin: 2px;
	padding: 0;
	position: absolute;
	left: 280px; 
	top: 80px;		
}

#topright_box { /* Design */

	margin: 5px;
	padding: 0;
	position: absolute;
	left: 540px; 
	top: 78px;	
}

#bttmleft_box { /* About */

	margin: 2px;
	padding: 0;
	position: absolute;
	left: 280px; 
	top: 370px;	
}

#bttmright_box { /* Contact */

	margin: 5px;
	padding: 0;
	position: absolute;
	left: 540px; 
	top: 369px;	
}


/* Text in Grey Photoboxes, controls leading/kerning */
.topleft_text {
	font size: 1.5em;
	text-align: right;
	padding: 12px 25px 5px 5px;
}

.topright_text {
	font size: 1.5em;
	text-align: left;
	padding: 13px 5px 5px 15px;
}

.bttmleft_text {
	font size: 1.5em;
	text-align: right;
	padding: 12px 25px 5px 5px;
}

.bttmright_text {
	font size: 1.5em;
	text-align: left;
	padding: 13px 5px 5px 15px;
}

/* Text in Grey boxes controls h2 leading/kerning */
#graphic_design {
	margin: .5px 0px 0px 0px;
}

#architectural {
	margin: .5px 0px 0px 0px;
}

#about {
	margin: 1px 0px 0px 0px;
}

#contact {
	margin: 1px 0px 0px 0px;
}


/* H2 Headers in Grey boxes, controls position */
#logo_delight {
	margin: 210px 0px 0px 12px;  
}

#photo_meringue {
	margin: 9.5em 0em 0em 1em;  
}

#boutme_cobbler {
	margin: 9em 0em 0em 1em;  
}

#plain_contact {
	margin: 9em 0em 0em .5em;  
}



/* Article: Cupcakes */
.cupcake_img {
	width: 160px; 
	height: auto;
	float: right;
}

#photo_cupake {
	margin: 0em;
	position: absolute;
	left: -60px; 
	top: 40px;
}

#design_cupcake {
	margin: 0em;
	position: absolute;
	left: 115px; 
	top: 25px;
}

#about_cupcake {
	margin: 0em;
	position: absolute;
	left: -40px; 
	top: 30px;
}

#contact_cupcake {
	margin: 0em;
	position: absolute;
	left: 95px; 
	top: 20px;
}
 /* End Artical */


/*Footer*/
.foot_text {
	font-family: Georgia, serif;
	font-size: 1.1em;
	color: white;
	padding: 0em;
	margin: 2em auto 3em auto;
	text-align: center;
}
